* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.bg-container {
  background-color: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 6rem;
  color: #f8fafc;
  text-align: center;
}

.content-container {
  padding: 7rem;
}

.main-heading {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
    max-width: 50%;
}